@use 'igniteui-theming' as *;

.feature {
	display: grid;
	grid-template-columns: 1fr;
	gap: rem(24px);
	align-items: center;
	margin-block: rem(32px);
	padding: rem(26px) rem(16px);
	
	@media (min-width: rem(768px)) {
		grid-template-columns: 1fr 1fr;
		
		&--image-left {
			.feature__image {
				order: 1;
			}
			
			.feature__details {
				order: 2;
			}
		}
		
		&--image-right {
			.feature__image {
				order: 2;
			}
			
			.feature__details {
				order: 1;
				text-align: right;
				
				.feature__title {
				
				}
			}
		}
	}
	
	&--image-center {
		grid-template-columns: 1fr;
		justify-items: center;
		text-align: center;
		
		.feature__image {
			max-width: rem(480px);
			width: 100%;
		}
	}
}

.feature__image {
	img {
		width: 100%;
		height: auto;
		display: block;
		border-radius: rem(4px);
	}
}

.feature__details {
	.feature__title {
		@include type-style('h2');
		color: light-dark(var(--ig-gray-900), var(--ig-gray-100));
	}
	
	p {
		color: light-dark(var(--ig-gray-800), var(--ig-gray-200));
		margin-block-end: 0;
	}
	
	a {
		color: var(--igd-accent);
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}
