---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import './DownloadCard.scss';

interface Props {
  src: ImageMetadata;
  alt: string;
  href: string;
  label: string;
}

const { src, alt, href, label } = Astro.props;
---

<div class="download-card">
  <Image src={src} alt={alt} class="download-card__img" />
  <a href={href} target="_blank" rel="noopener noreferrer" class="download-card__btn no-external-icon">{label}</a>
</div>
