@use 'igniteui-theming' as *;

.download-card {
	display: contents;
}

.download-card__img {
	max-height: 60px;
	max-width: 100px;
	margin-block-end: 0;
	grid-row: 1;
	justify-self: center;
	object-fit: contain;
}

.download-card__btn {
	@include type-style('caption') {
		margin-block: 0;
	}
	
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	border-radius: rem(4px);
	border: rem(1px) solid light-dark(var(--ig-gray-400), var(--ig-gray-200));
	background: transparent;
	color: light-dark(var(--ig-gray-900), var(--ig-gray-700));
	padding: rem(10) rem(16px);
	line-height: rem(16px);
	transition: color 0.2s ease, border-color 0.2s ease;
	grid-row: 2;
	justify-self: center;
	
	&:hover,
	&:focus {
		color: var(--igd-accent);
		outline: none;
	}
}
