###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
.vscode

components/grid/*.md
components/grid/*.mdx
components/treegrid/*.md
components/treegrid/*.mdx
components/hierarchicalgrid/*.md
components/hierarchicalgrid/*.mdx
components/pivotgrid/*.md
components/pivotgrid/*.mdx
components/pivotGrid/*.md
components/pivotGrid/*.mdx

# All grid specific files that should NOT be ignored:
!components/grid/grid.md
!components/grid/groupby.md
!components/grid/paste-excel.md
!components/grid/master-detail.md
!components/grid/selection-based-aggregates.md
!components/grid/grid.mdx
!components/grid/groupby.mdx
!components/grid/paste-excel.mdx
!components/grid/master-detail.mdx
!components/grid/selection-based-aggregates.mdx

# All tree grid specific files that should NOT be ignored:
!components/treegrid/tree-grid.md
!components/treegrid/groupby.md
!components/treegrid/load-on-demand.md
!components/treegrid/tree-grid.mdx
!components/treegrid/groupby.mdx
!components/treegrid/load-on-demand.mdx

# All hierarchical grid specific files that should NOT be ignored:
!components/hierarchicalgrid/hierarchical-grid.md
!components/hierarchicalgrid/load-on-demand.md
!components/hierarchicalgrid/hierarchical-grid.mdx
!components/hierarchicalgrid/load-on-demand.mdx

# All pivot grid specific files that should NOT be ignored:
!components/pivotgrid/pivot-grid.md
!components/pivotgrid/pivot-grid-features.md
!components/pivotgrid/pivot-grid-custom.md
!components/pivotgrid/pivot-grid.mdx
!components/pivotgrid/pivot-grid-features.mdx
!components/pivotgrid/pivot-grid-custom.mdx
!components/pivotGrid/pivot-grid.md
!components/pivotGrid/pivot-grid-features.md
!components/pivotGrid/pivot-grid-custom.md
!components/pivotGrid/pivot-grid.mdx
!components/pivotGrid/pivot-grid-features.mdx
!components/pivotGrid/pivot-grid-custom.mdx

# All xplat-generated topics that should be ignored:
/components/charts/
/components/geo-map*.mdx
/components/spreadsheet-*.mdx
/components/excel-library*.mdx
/components/excel-utility.mdx
/components/bullet-graph.mdx
/components/dashboard-tile.mdx
/components/linear-gauge.mdx
/components/radial-gauge.mdx
/components/zoomslider-overview.mdx
/components/general-changelog-dv.mdx
/components/inputs/color-editor.mdx
/components/interactivity/accessibility-compliance.mdx
/components/maps/map-api.mdx
/components/menus/toolbar.mdx
