// AppBuilder overrides on top of the shared (ignite-ui) defaults.
@forward '../shared/variables' with (
  $link-decoration: none,
  $global-font-family: ('Nunito-Sans', sans-serif),
  $text-base: #0a0a0a,
  $title-color: #0a0a0a,
  $h1-l-height: 42px,
  $h2-f-size: 28px,
  $h2-f-family: ("Figtree", sans-serif),
  $h3-f-family: ("Figtree", sans-serif),
  $h4-f-family: ("Figtree", sans-serif),
  $h5-f-family: ("Figtree", sans-serif),
  $h6-f-family: ("Figtree", sans-serif),
  $h6-f-weight: normal,
  $p-l-height: 1.5rem,
);

$p-m-bottom: 1.5rem;